@keyframes spin {
    from {
      transform: rotate(var(--jf-angle-0));
    }
    to {
      transform: rotate(var(--jf-angle-10));
    }
  }
  

  .motion-spin {
    animation: spin var(--jf-motion-duration-extended) infinite;
  }