*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: var(--jf-font-family-sans), system-ui, sans-serif;
  background-color: var(--jf-color-bg-page);
  color: var(--jf-color-fg-strong);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
